-title "Здесь зарождаются идеи"

%h1 Здесь зарождаются идеи 
.row
  .col-md-8
  .col-md-4
    -unless current_user
      %p.pages Только зарегистрированные пользователи могут предлагать свои идеи.
    =link_to "Предложи идею", new_idea_path( @idea), class: css_for_link
- permitted_to? :moderate, :ideas do 
  - if @ideas_drafted.any? 
    %hr  
    %h4 Идеи в черновике
    = render "idea", ideas: @ideas_drafted
  - if @ideas_unmoderated.any? 
    %hr  
    %h4 Ожидают модерации
    = render "idea", ideas: @ideas_unmoderated
%hr
= render "idea", ideas: @ideas 
-#
  = link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' }


