-title "Предложи идею"

%h1 Предложи идею
.col-md-12
%p
  Я подтверждаю что это моя идея и она удовлетворяет всем требованиям.
%br/


/ Category !!!!                  
= render 'form' 
  
  

%br
%hr
%br
=link_to "Посмотри все идеи", ideas_path
%hr
%br
%br
%br
%br
%br