.container
  #team.row
    .col-md-12
      .row
        %ul.team-list
        

          %li.col-md-3
            .team-item
              %a.thumb-info{:href => "page-about-me.html"}
                %span.thumb-info-image
                  %span.thumb-info-act
                    %span.thumb-info-act-left
                      %em View
                    %span.thumb-info-act-right
                      %em
                        %i.icon.icon-plus
                        Details
                  %img.img-responsive{:alt => "", :src => "img/team/team-1.jpg"}/
              %span.thumb-info
                %span.thumb-info-content
                  %a{:href => "page-about-me.html"}
                    %h4 John Doe
                    %span.role CEO
                %span.thumb-info-caption
                  %a{:href => "page-about-me.html"}
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.
                  %span.thumb-info-extra.social
                    %a{:href => "http://www.facebook.com", :target => "_blank"} Votes
                    %a{:href => "http://www.twitter.com", :target => "_blank"} Comments
                    %a{:href => "http://www.linkedin.com", :target => "_blank"} Views
