$("#comment_<%= @comment.id%>").bind('ajax:success', function() {  
  var html = '<%= j render(@comment) %>';
  html = html.replace("<li id='comment_<%= @comment.id%>'>", '').replace('</li>', '')
  $("#comment_<%= @comment.id%>").html(html)
}); 
