%h1 Base#index 
%h1 Authorized


%p 
  Вошли как 
  =current_user.fullname  
- unless user_signed_in?
  = link_to "Войти", new_registration_path(:user)
  %br/
- else
  = link_to 'Выйти', destroy_user_session_path, method: :delete 
