%section.parallax{"data-stellar-background-ratio" => "0.4", style: "background-image: url(<%= image_path(parallax-2.jpg) %> );"} 
  .container
    .row
      .col-md-7{"data-appear-animation" => "fadeInLeft"}
        %h2.push-top.white
          %i.icon.icon-star-o.pulsate
          Ваши
          %strong Идеи
        %p.white.lead
          Расскажи всем о своей грандиозной идее
        %p.white.tall
          О твоей идее узнают тысячи профессионалов, которые ее подробно прокомментируют, напишут свое мнение и, если за твою идею проголосует сообщество, она может стать реальностью !!! 
        %a.btn.btn-primary.btn-lg.push-top{href: "shortcodes.html"} Сообщить идею...
      .col-md-5{"data-appear-animation" => "fadeInRight", "data-appear-animation-delay" => "300"}
        %img.img-responsive.pull-right{src: image_path('premium-features.png') }/