%section.parallax.page-top.top{"data-stellar-background-ratio" => "0.4", style: ""} 
  .container
    .row
      .col-md-5.col-md-offset-7{"data-appear-animation" => "fadeInLeft"}
        %h1.push-top.white.greeting
          %strong Придумай идею,
          %br
          %strong Пришли нам,
          %br
          %strong Заработай с нами!
          %br
        / %p.white.lead Расскажи всем о своей грандиозной идее
        / %p.white.tall О твоей идее узнают тысячи профессионалов
        %a.btn.btn-primary.btn-lg{href: new_registration_path(:user)}Присоединиться!
      