%ul.portfolio-list.sort-destination.full-width
  %li.col-md-2.isotope-item.websites
    .portfolio-item
      %a.thumb-info.secundary{href: root_path}
        %span.thumb-info-image
          %span.thumb-info-act
            %span.thumb-info-content
              %h4 Вилка с выключателем
              %span.date 2 мая 2014
              %span.label.label-primary посмотреть проект
          %img.img-responsive{alt: "Вилка с выключателем", src: image_path('projects/project-14.jpg') }/
  %li.col-md-2.isotope-item.brands
    .portfolio-item.img-thumbnail
      %a.thumb-info.secundary{href: root_path}
        %span.thumb-info-image
          %span.thumb-info-act
            %span.thumb-info-content
              %h4 Сферическая ванна
              %span.date 2 мая 2014
              %span.label.label-primary посмотреть проект
          %img.img-responsive{alt: "Сферическая ванна", src: image_path('projects/project-2.jpg') }/
  %li.col-md-2.isotope-item.elements
    .portfolio-item.img-thumbnail
      %a.thumb-info.secundary{href: root_path}
        %span.thumb-info-image
          %span.thumb-info-act
            %span.thumb-info-content
              %h4 Светодиодный фонарь
              %span.date 2 мая 2014
              %span.label.label-primary посмотреть проект
          %img.img-responsive{alt: "Светодиодный фонарь", src: image_path('projects/project-3.jpg') }/
  %li.col-md-2.isotope-item.elements
    .portfolio-item.img-thumbnail
      %a.thumb-info.secundary{href: root_path}
        %span.thumb-info-image
          %span.thumb-info-act
            %span.thumb-info-content
              %h4 Лупа-телефон
              %span.date 3 мая 2014
              %span.label.label-primary посмотреть проект
          %img.img-responsive{alt: "Лупа-телефон", src: image_path('projects/project-6.jpg') }/
  %li.col-md-2.isotope-item.brands
    .portfolio-item.img-thumbnail
      %a.thumb-info.secundary{href: root_path}
        %span.thumb-info-image
          %span.thumb-info-act
            %span.thumb-info-content
              %h4 Планшет заднего вида
              %span.date 5 мая 2014
              %span.label.label-primary посмотреть проект
          %img.img-responsive{alt: "Планшет заднего вида", src: image_path('projects/project-5.jpg') }/
  %li.col-md-2.isotope-item.others
    .portfolio-item.img-thumbnail
      %a.thumb-info.secundary{href: root_path}
        %span.thumb-info-image
          %span.thumb-info-act
            %span.thumb-info-content
              %h4 Стакан на солнечных батареях
              %span.date 7 мая 2014
              %span.label.label-primary посмотреть проект
          %img.img-responsive{alt: "Стакан на солнечных батареях", src: image_path('projects/project-11.jpg') }/
  %li.col-md-2.isotope-item.websites
    .portfolio-item.img-thumbnail
      %a.thumb-info.secundary{href: root_path}
        %span.thumb-info-image
          %span.thumb-info-act
            %span.thumb-info-content
              %h4 Кружка без подтеков
              %span.date 8 мая 2014
              %span.label.label-primary посмотреть проект
          %img.img-responsive{alt: "Кружка без подтеков", src: image_path('projects/project-9.jpg') }/
  %li.col-md-2.isotope-item.elements
    .portfolio-item.img-thumbnail
      %a.thumb-info.secundary{href: root_path}
        %span.thumb-info-image
          %span.thumb-info-act
            %span.thumb-info-content
              %h4 Флешка под рукой
              %span.date 10 мая 2014
              %span.label.label-primary посмотреть проект
          %img.img-responsive{alt: "Флешка под рукой", src: image_path('projects/project-10.jpg') }/
  %li.col-md-2.isotope-item.elements
    .portfolio-item.img-thumbnail
      %a.thumb-info.secundary{href: root_path}
        %span.thumb-info-image
          %span.thumb-info-act
            %span.thumb-info-content
              %h4 Снимай в движении
              %span.date 12 мая 2014
              %span.label.label-primary посмотреть проект
          %img.img-responsive{alt: "Снимай в движении", src: image_path('projects/project-8.jpg') }/
  %li.col-md-2.isotope-item.elements
    .portfolio-item.img-thumbnail
      %a.thumb-info.secundary{href: root_path}
        %span.thumb-info-image
          %span.thumb-info-act
            %span.thumb-info-content
              %h4 Живая лампа
              %span.date 12 мая 2014
              %span.label.label-primary посмотреть проект
          %img.img-responsive{alt: "Живая лампа", src: image_path('projects/project-4.jpg') }/
  %li.col-md-2.isotope-item.icons
    .portfolio-item.img-thumbnail
      %a.thumb-info.secundary{href: root_path}
        %span.thumb-info-image
          %span.thumb-info-act
            %span.thumb-info-content
              %h4 Положи в стенку
              %span.date 14 мая 2014
              %span.label.label-primary посмотреть проект
          %img.img-responsive{alt: "Положи в стенку", src: image_path('projects/project-7.jpg') }/
  %li.col-md-2.isotope-item.others
    .portfolio-item.img-thumbnail
      %a.thumb-info.secundary{href: root_path}
        %span.thumb-info-image
          %span.thumb-info-act
            %span.thumb-info-content
              %h4 Солонка-мельница
              %span.date 16 мая 2014
              %span.label.label-primary посмотреть проект
          %img.img-responsive{alt: "Солонка-мельница", src: image_path('projects/project-12.jpg') }/
