%ul.portfolio-list.sort-destination
  -if main_page_ideas
    -main_page_ideas.each do |idea|
      %li.col-md-4
        .portfolio-item
          %a.thumb-info.secundary{href: idea_path(idea)}
            %span.thumb-info-image
              %span.thumb-info-act
                %span.thumb-info-content
                  %h4=idea.title
                  %span.date=l(idea.moderated_at.to_date, :format => :long)
                  %span.label.label-primary подробнее...
              %img.img-responsive{alt: idea.title, src: image_for_idea(idea) }/
