#content.content.full
  %section.home-top-clean
    .slider-container{style: "overflow: visible;"}
      #topRevolutionSlider.slider{"data-plugin-options" => "{\"startheight\": 600}"}
        %ul
          %li{"data-masterspeed" => "300", "data-slotamount" => "13", "data-transition" => "fade"}
            %img{"data-bgposition" => "left top", "data-bgrepeat" => "no-repeat", src: image_path('slides/slider1.jpg') }/
            .tp-caption.white.top-label.md.white.customin{"data-customin" => "x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;", "data-easing" => "Back.easeInOut", "data-endspeed" => "300", "data-hoffset" => "15", "data-speed" => "800", "data-start" => "0", "data-x" => "left", "data-y" => "290"}
              Придумывай идеи,
              присылай нам,
            .tp-caption.white.top-label.md.white.customin{"data-customin" => "x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;", "data-easing" => "Back.easeInOut", "data-endspeed" => "300", "data-hoffset" => "15", "data-speed" => "800", "data-start" => "300", "data-x" => "left", "data-y" => "340"}
              Зарабатывай с нами!
            .tp-caption.bottom-label.md.white.sfb{"data-easing" => "Back.easeInOut", "data-endspeed" => "300", "data-hoffset" => "35", "data-speed" => "800", "data-start" => "500", "data-x" => "left", "data-y" => "390"}
              Идеи, комментарии, проекты, конкурсы ...
            .tp-caption.sft{"data-easing" => "Back.easeInOut", "data-endspeed" => "300", "data-hoffset" => "15", "data-speed" => "800", "data-start" => "500", "data-x" => "left", "data-y" => "440"}
              %a.btn.btn-lg.btn-primary.main-button{ href: new_registration_path(:user)} Присоединяйся!
            
          %li{"data-masterspeed" => "300", "data-slotamount" => "13", "data-transition" => "fade"}
            %img{"data-bgposition" => "left top", "data-bgrepeat" => "no-repeat", src: image_path('slides/slider2.jpg') }/
            .tp-caption.text-bg.text-bg-dark.white.top-label.sfr{"data-easing" => "Back.easeInOut", "data-endspeed" => "300", "data-hoffset" => "800", "data-speed" => "800", "data-start" => "500", "data-voffset" => "180", "data-x" => "left", "data-y" => "center", style: "z-index: 1001; padding: 10px;"}
              Предлагай идеи!
              %br/
              %br/
              И присылай нам!
          
          %li{"data-masterspeed" => "300", "data-slotamount" => "13", "data-transition" => "fade"}
            %img{"data-bgposition" => "left top", "data-bgrepeat" => "no-repeat", src: image_path('slides/slider3.jpg') }/
            .tp-caption.text-bg.white.top-label.sfr{"data-easing" => "Back.easeInOut", "data-endspeed" => "300", "data-hoffset" => "400", "data-speed" => "800", "data-start" => "500", "data-voffset" => "130", "data-x" => "left", "data-y" => "center", style: "z-index: 1001; padding: 10px;"}
              Комментируй идеи и проекты
              %br/
              %br/
              \... и зарабатывай с нами! 

          %li{"data-masterspeed" => "300", "data-slotamount" => "13", "data-transition" => "fade"}
            %img{"data-bgposition" => "left top", "data-bgrepeat" => "no-repeat", src: image_path('slides/slider4.jpg') }/
            
            .tp-caption.text-bg.white.top-label.sfr{"data-easing" => "Back.easeInOut", "data-endspeed" => "300", "data-hoffset" => "0", "data-speed" => "800", "data-start" => "500", "data-voffset" => "200", "data-x" => "left", "data-y" => "center", style: "z-index: 1001; padding: 10px;"}
              %small Голосуй за идеи и они смогут стать реальностью!
          
          %li{"data-masterspeed" => "300", "data-slotamount" => "13", "data-transition" => "fade"}
            %img{"data-bgposition" => "left top", "data-bgrepeat" => "no-repeat", src: image_path('slides/slider5.jpg') }/
            .tp-caption.main-label.md.white.sfr{"data-easing" => "Back.easeInOut", "data-endspeed" => "300", "data-hoffset" => "-260", "data-speed" => "800", "data-start" => "0", "data-voffset" => "-30", "data-x" => "center", "data-y" => "center"}
              Воплоти
            .tp-caption.main-label.md.white.sfr{"data-easing" => "Back.easeInOut", "data-endspeed" => "300", "data-hoffset" => "-350", "data-speed" => "800", "data-start" => "300", "data-voffset" => "80", "data-x" => "center", "data-y" => "center"}
              свою
            .tp-caption.main-label.md.white.sfr{"data-easing" => "Back.easeInOut", "data-endspeed" => "300", "data-hoffset" => "0", "data-speed" => "800", "data-start" => "600", "data-voffset" => "80", "data-x" => "center", "data-y" => "center"}
              мечту!
            .tp-caption.text-bg.text-bg-dark.white.top-label.sfr{"data-easing" => "Back.easeInOut", "data-endspeed" => "300", "data-hoffset" => "0", "data-speed" => "800", "data-start" => "500", "data-voffset" => "200", "data-x" => "left", "data-y" => "center", style: "z-index: 1001; padding: 10px;"}
              Мы поможем тебе!
              %br/
            .tp-caption.text-bg.white.top-label.sfr{"data-easing" => "Back.easeInOut", "data-endspeed" => "300", "data-hoffset" => "0", "data-speed" => "800", "data-start" => "500", "data-voffset" => "250", "data-x" => "left", "data-y" => "center", style: "z-index: 1001; padding: 10px;"}
              Сделай это!
         
 
