.container
  %hr.invisible/
  .appear-animation{"data-appear-animation" => "fadeInDown"}
    .row.featured-boxes.secundary
      .col-md-2
        .appear-animation{"data-appear-animation" => "bounceIn", "data-appear-animation-delay" => "600"}
          .featured-box.featured-box-primary
            .box-content
              %i.icon-featured.icon.icon-laptop
      .col-md-10
        %h3.short.dark Website Design &amp; Development
        %h5.short Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh metus.
  .appear-animation{"data-appear-animation" => "fadeInDown"}
    .row
      .appear-animation{"data-appear-animation" => "fadeIn", "data-appear-animation-delay" => "800"}
        .col-md-2.center.push-bottom
          %span.icon-rounded
            %i.icon.icon-plus
  .appear-animation{"data-appear-animation" => "fadeInDown"}
    .row.featured-boxes.secundary
      .col-md-2
        .appear-animation{"data-appear-animation" => "bounceIn", "data-appear-animation-delay" => "600"}
          .featured-box.featured-box-primary
            .box-content
              %i.icon-featured.icon.icon-users
      .col-md-10
        %h3.short.dark Project Consulting
        %h5.short Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh metus.
  .appear-animation{"data-appear-animation" => "fadeInDown"}
    .row
      .appear-animation{"data-appear-animation" => "fadeIn", "data-appear-animation-delay" => "800"}
        .col-md-2.center.push-bottom
          %span.icon-rounded
            %i.icon.icon-plus
  .appear-animation{"data-appear-animation" => "fadeInDown"}
    .row.featured-boxes.secundary
      .col-md-2
        .appear-animation{"data-appear-animation" => "bounceIn", "data-appear-animation-delay" => "600"}
          .featured-box.featured-box-primary
            .box-content
              %i.icon-featured.icon.icon-star
      .col-md-10
        %h3.short.dark Marketing
        %h5.short Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh metus.
  .appear-animation{"data-appear-animation" => "fadeInDown"}
    .row
      .appear-animation{"data-appear-animation" => "fadeIn", "data-appear-animation-delay" => "800"}
        .col-md-2.center.push-bottom
          %span.icon-rounded
            %i.icon.icon-plus
  .appear-animation{"data-appear-animation" => "fadeInDown"}
    .row.featured-boxes.secundary
      .col-md-2
        .appear-animation{"data-appear-animation" => "bounceIn", "data-appear-animation-delay" => "600"}
          .featured-box.featured-box-primary
            .box-content
              %i.icon-featured.icon.icon-puzzle-piece
      .col-md-10
        %h3.short.dark Design &amp; Branding
        %h5.short Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh metus.