%section.featured.highlight.footer
  .container
    .row.center.counters
      .col-md-3
        %strong{"data-to" => "4200"} 0
        %label Часов думали над проектом
      .col-md-3
        %strong{"data-to" => "224"} 0
        %label Исписано ручек
      .col-md-3
        %strong{"data-to" => "352"} 0
        %label Выпито чашек кофе
      .col-md-3
        %strong{"data-to" => "159"} 0
        %label Сточено карандашей
