.container
  .row
    .col-md-12.center
      %h2
        %strong Посмотри на новые идеи
      %p.lead Голосуй, обсуждай, комментируй - и скоро ты сможешь это увидеть у нас в магазине.
      .row
        .col-md-8.col-md-offset-2
          %p.send_ideas Голосуй за понравившиеся идеи. Над теми идеями, которые получат наибольшее количество голосов сообщества, станут работать профессионалы сайта и сообщества.
          %p.send_ideas Принимайте участие в проектах - Вы сами придумаете название, упаковку, слоган. Разумеется, все это будет вознаграждено. Участники сообщества, предлагающие доработки или другие полезные замечания, вместе с автором участвуют в распределении доходов. 
      %p.lead Регистрируйтесь, комментируйте и зарабатывайте.
      .row
        .col-md-8.col-md-offset-2
          %br
          =link_to "Перейти к идеям ...", ideas_path, class: "btn btn-primary btn-lg"
          %br
          %br
