.container
  .row
    .col-md-3
      .feature-box.secundary
        .feature-box-icon
          %i.icon.icon-check-square
        .feature-box-info
          %h4.shorter Придумай идею
          %p.tall
            Это может быть новый гаджет, полезная штуковина, новый взгляд на старые вещи или симбоз двух несовместимых вещей.
      
    .col-md-3
      .feature-box.secundary
        .feature-box-icon
          %i.icon.icon-check-square
        .feature-box-info
          %h4.shorter Голосуй
          %p.tall Обсуждай идеи, делись мыслями по другим идеям, голосуй за понравившиеся предложения. И, возможно,твоя идея будет воплощена в жизнь. 
      
    .col-md-3
      .feature-box.secundary
        .feature-box-icon
          %i.icon.icon-check-square
        .feature-box-info
          %h4.shorter Комментируй
          %p.tall Мы сами доведем идею до серийного производства, разместим на производстве, изготовим и продадим. Твои комментарии могут принести тебе дополнительный заработок.

    .col-md-3
      .feature-box.secundary
        .feature-box-icon
          %i.icon.icon-check-square
        .feature-box-info
          %h4.shorter Зарабатывай
          %p.tall За каждую придуманную тобой и проданную вещь ты получишь 4% от ее стоимости. И чем больше будет продано, тем большую сумму ты получишь.
      