.container
  .row
    .col-md-4
      .feature-box.secundary
        .feature-box-icon
          %i.icon.icon-check-square
        .feature-box-info
          %h4.shorter Customer Support
          %p.tall
            Lorem ipsum dolor sit amet, consectetur adipiscing
            %span.alternative-font metus.
            elit. Quisque rutrum pellentesque imperdiet.
      .feature-box.secundary.push-top
        .feature-box-icon
          %i.icon.icon-google-plus
        .feature-box-info
          %h4.shorter 500+ Google Fonts
          %p.tall Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.
    .col-md-4
      .feature-box.secundary
        .feature-box-icon
          %i.icon.icon-check-square
        .feature-box-info
          %h4.shorter Sliders
          %p.tall Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet.
      .feature-box.secundary.push-top
        .feature-box-icon
          %i.icon.icon-check
        .feature-box-info
          %h4.shorter Icons
          %p.tall
            Lorem ipsum dolor sit amet, consectetur adipiscing
            %span.alternative-font metus.
            elit. Quisque rutrum pellentesque imperdiet.
    .col-md-4
      .feature-box.secundary
        .feature-box-icon
          %i.icon.icon-file
        .feature-box-info
          %h4.shorter HTML5 / CSS3 / JS
          %p.tall
            Lorem ipsum dolor sit amet, consectetur adipiscing
            %span.alternative-font metus.
            elit. Quisque rutrum pellentesque imperdiet.
      .feature-box.secundary.push-top
        .feature-box-icon
          %i.icon.icon-adjust
        .feature-box-info
          %h4.shorter Unlimited Colors
          %p.tall Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.