.container
  .row
    .col-md-12.center
      %h2
        %strong Посмотри на новые идеи
      %p.lead Голосуй, обсуждай комментируй - и скоро ты сможешь это увидеть у нас в магазине.

      %p.send_ideas Голосуй за понравившиеся идеи, комментируй.
      %p.send_ideas Те идеи, которые получат наибольшее количество голосов сообщества, будут приняты в работу. 
      %p.send_ideas Вы сами придумаете им название, упаковку, слоган. Разумеется, все это будет вознаграждено.
      %p.send_ideas Соавторы, предлагающие доработки или другие полезные замечания, также получают процент от прибыли.
      %p.send_ideas Регистрируйтесь, комментируйте и зарабатывайте.
      %br
      =link_to "Перейти к идеям ...", ideas_path, class: "btn btn-primary btn-lg"
      %br
      %br
