.container
  .row
    .col-md-12.center
      -#.divider.tall.colored
        -#%i.icon.icon-star
      %h2
        Посмотри на
        %strong Новые Идеи
      %p.lead Голосуй, обсуждай комментируй - и скоро ты сможешь это увидеть у нас в магазине.
      %p
        Голосуй за понравившиеся идеи, комментируй. Те идеи, которые получат наибольшее количество голосов сообщества, будут приняты в работу. Вы сами придумаете им название, упаковку, слоган. Разумеется, все это будет вознаграждено. Соавторы, предлагающие доработки или другие полезные замечания, также получают процент от прибыли. Посмотреть на проекты в работе можно 
        %a{href: "#"} здесь.
        Регистрируйтесь, комментируйте и зарабатывайте.
  %hr.invisible/