.row
  -if notice
    .alert.alert-success
      %p#notice= notice
  
  -@users.each do |user|
    .col-md-4.users
      .col-md-4

        = image_tag user.avatar.url(:thumb), {class: "img-thumbnail img-responsive avatar"}
      
      .col-md-8
        %h4= user.fullname
        %h6= user.slug
        
%br/
%br/

