-title "Сообщество"
.row
  -if notice
    .alert.alert-success
      %p#notice= notice
  %h1
    Наше сообщество
  #users
    -@users.each do |user|
      =render user
.clearfix
.userspagination
  = paginate @users

-content_for :head_js do
  =javascript_include_tag "users"

