-title "Сообщество"
.row
  -if notice
    .alert.alert-success
      %p#notice= notice
  %h1
    Наше сообщество

  -@users.each do |user|
    .col-md-4.users
      .col-md-4
        =link_to image_tag(user.avatar.url(:thumb), {class: "img-thumbnail img-responsive avatar"}), user
      .col-md-8
        =link_to user do
          %h4= user.fullname
          %h6= user.description

%br/
%br/

