-title "#{@user.fullname}"
.col-md-3
  = image_tag @user.avatar.url(:medium), {class: "img-thumbnail img-responsive avatar"}
  %hr.visible-sm.visible-xs.tall/
.col-md-1
.col-md-8
  %h2.show_user= @user.fullname
  = render 'shared/social'
  .skype
    -if @user.contact.show_skype && !@user.contact.skype.blank?
      %i.icon.icon-skype
      %strong 
      =@user.contact.skype
  %p.pages
    -if @user.contact.site
      =link_to "Персональный сайт", url_with_protocol(@user.contact.site), :target => '_blank'
  %p.pages  
    -if @user.country
      =@user.country.name
      &nbsp;
      &nbsp;
    -if @user.show_birthdate && @user.birthdate
      =@user.age
      &nbsp;
      &nbsp; 
    -if @user.show_gender && @user.gender
      -if @user.gender == "M"
        Мужчина
      -else
        Женщина
      %br/
  %p.pages  
    -if @user.description
      Немного о себе:&nbsp;
      =@user.description
      %br/
