.logo_footer= link_to image_tag('logo-footer.png', alt: "Glash!"), root_path
%h1.zagfooter
  Это сайт об идеях и изобретениях, которые мы делаем реальностью. Присылайте нам свои идеи, комментируйте идеи других и зарабатывайте с нами!

-if signed_in?
  =render "shared/contact_user"
-else
  =render "shared/subscribe_news"

=render "shared/social_footer"
.clearfix
