.contact-detail
  %ul.contact
    %li
      %p
        %i.icon.icon-envelope
        %strong Email:
        %a{href: "mailto:support@glash.ru"} support@glash.ru
    -#
      %li
        %p
          %i.icon.icon-map-marker
          %strong Информация
      %li
        %p
          %i.icon.icon-phone
          %strong Телефон
          (123) 456-7890