%footer#footer
  .container
    .row
      .col-md-3
        =render "shared/about"

      .col-md-3
        =render "shared/newest_ideas"

      .col-md-3
        =render "shared/texts"

      .col-md-3
        =render "shared/most_active"

  =render "shared/copyright"
  