%footer#footer
  .container
    .row
      .col-md-3
        .logo_footer= link_to image_tag('logo-footer.png', alt: "Glash!"), root_path
        %h1.zagfooter
          Это сайт о дизайне и разных полезных и умных изобретениях. Присылайте нам свои идеи, комментируйте идеи других и зарабатывайте с нами!
        
        -if signed_in?
          =render "shared/contact_user"
        -else
          =render "shared/subscribe_news"
        
        =render "shared/social_footer"
        
            
        .clearfix

      .col-md-3
        =render "shared/newest_ideas"
       

      .col-md-3
        %h4 Информация
        %ul.nav.nav-list.primary
          %li
            %a{href: help_path, title: "Как это все работает"} Как это все работает
          %li
            %a{href: faq_path, title: "Вопросы и ответы"} Вопросы и ответы
          -#
            %li
              %a{href: root_path, title: "Форум"} Форум
          %li
            %a{href: terms_path, title: "Правила сайта"} Правила сайта
          %li
            %a{href: privacy_policy_path, title: "Политика безопасности"} Политика безопасности
        -#
          %h4 Recent Tweets
          #tweet.twitter{"data-account-id" => ""}
            %p Please wait...

      .col-md-3
        =render "shared/most_active"
  .footer-copyright
    .container
      .row
        .col-md-6
          %p Glash! © 2014
        .col-md-6
          %ul.social-icons
            %li
              %a{href: "https://vk.com/public80408399", rel: "tooltip", target: "_blank", title: "VKontakte"}
                %i.icon.icon-vk
            %li
              %a{href: "https://twitter.com/glash_ru", rel: "tooltip", target: "_blank", title: "Twitter"}
                %i.icon.icon-twitter
            %li
              %a{href: "https://www.facebook.com/pages/Glash/1539619519617370", rel: "tooltip", target: "_blank", title: "Facebook"}
                %i.icon.icon-facebook
