.col-md-4
  .featured-box.default
    .box-content
      %h4=:help
      %ul.nav.nav-list
        %li=:dont_have_an_account
        %li= link_to :click_here_to_sign_up, root_path
        %li=:forgot_your_password
        %li= link_to :click_here_to_retrieve_it, root_path
        %li=:forgot_your_username
        %li= link_to :click_here_to_retrieve_it, root_path
