%h4 Новые Идеи
%ul.list-unstyled.recent-work
  %li
    %a.thumb-info{href: root_path}
      %img.img-responsive{alt: "", height: "78", src: image_path('projects/project-thumb-1.jpg'), width: "78"}/
  %li
    %a.thumb-info{href: root_path}
      %img.img-responsive{alt: "", height: "78", src: image_path('projects/project-thumb-9.jpg'), width: "78"}/
  %li
    %a.thumb-info{href: root_path}
      %img.img-responsive{alt: "", height: "78", src: image_path('projects/project-thumb-3.jpg'), width: "78"}/
  %li
    %a.thumb-info{href: root_path}
      %img.img-responsive{alt: "", height: "78", src: image_path('projects/project-thumb-4.jpg'), width: "78"}/
  %li
    %a.thumb-info{href: root_path}
      %img.img-responsive{alt: "", height: "78", src: image_path('projects/project-thumb-5.jpg'), width: "78"}/
  %li
    %a.thumb-info{href: root_path}
      %img.img-responsive{alt: "", height: "78", src: image_path('projects/project-thumb-11.jpg'), width: "78"}/
  %li
    %a.thumb-info{href: root_path}
      %img.img-responsive{alt: "", height: "78", src: image_path('projects/project-thumb-2.jpg'), width: "78"}/
  %li
    %a.thumb-info{href: root_path}
      %img.img-responsive{alt: "", height: "78", src: image_path('projects/project-thumb-6.jpg'), width: "78"}/
  %li
    %a.thumb-info{href: root_path}
      %img.img-responsive{alt: "", height: "78", src: image_path('projects/project-thumb-7.jpg'), width: "78"}/
%a.btn-flat.pull-right.btn-xs.view-more-recent-work{href: root_path}
  Еще Идеи
  %i.icon.icon-arrow-right