#social
  %h5 Сообщество в социальных сетях
  =link_to "https://vk.com/public80408399", :target => '_blank' do
    .socialuser_footer{class: "vkontakte"}
  =link_to "https://twitter.com/glash_ru", :target => '_blank' do
    .socialuser_footer{class: "twitter"}
  =link_to "http://ok.ru/group/52422062440624", :target => '_blank' do
    .socialuser_footer{class: "odnoklassniki"}
  =link_to "https://www.facebook.com/pages/Glash/1539619519617370", :target => '_blank' do
    .socialuser_footer{class: "facebook"}