%h4 Информация
%ul.nav.nav-list.primary
  %li
    %a{href: '/help', title: "Как это все работает"} Как это все работает
  %li
    %a{href: '/questions-answers', title: "Вопросы и ответы"} Вопросы и ответы
  -#
    %li
      %a{href: root_path, title: "Форум"} Форум
  %li
    %a{href: '/terms', title: "Правила использования"} Правила использования
  %li
    %a{href: '/privacy-policy', title: "Политика конфиденциальности"} Политика конфиденциальности
