%h4 Информация
%ul.nav.nav-list.primary
  %li
    %a{href: help_path, title: "Как это все работает"} Как это все работает
  %li
    %a{href: faq_path, title: "Вопросы и ответы"} Вопросы и ответы
  -#
    %li
      %a{href: root_path, title: "Форум"} Форум
  %li
    %a{href: terms_path, title: "Правила сайта"} Правила сайта
  %li
    %a{href: privacy_policy_path, title: "Политика безопасности"} Политика безопасности
