-title "Возвращайтесь! Мы ждем Вас!"
%h2 Очень жаль, что Вы нас покидаете.
%p Возвращайтесь! Вы нам очень нужны! Мы ждем Вас!
%br
= link_to "Вернуться", new_user_session_path, :class => "input btn btn-primary push-bottom backbtn"