-title "Поздравляем! Вы успешно зарегистрировались!"
%h2 Поздравляем! Вы стали членом нашего сообщества!

%p.pages Вы стали полноправным членом нашего сообщества, и уже можете присылать нам свои идеи, комментировать идеи и проекты других участников.
%p.pages Обращаем Ваше внимание - на Вашу почту придет письмо с инструкциями и ссылкой для активации Вашего аккаунта. Активируйте свой аккаунт в течение 3 дней.
%p.pages По истечении 3 дней Вы не сможете войти в свой аккаунт. Для возобновления доступа Вы сможете заново запросить инструкции для подтверждения Вашего email на странице входа на сайт.
%h4 Желаем Вам удачи!!!

%br
%h4.greetings Заполните, пожалуйста, свой профиль.
= link_to "Редактировать профиль", edit_registration_path(current_user), :class => "input btn btn-primary"
%br
%br
%h4.greetings Загрузите, пожалуйста, свой аватар.
= link_to "Загрузить аватар", load_avatar_user_path(current_user), :class => "input btn btn-primary"
%br
%br
%h4.greetings Вы сможете заполнить информацию о себе позже, используя меню.
= link_to "Заполнить позже", root_path, :class => "input btn backbtn"