-title "Поздравляем! Вы успешно зарегистрировались!"
%h2 Поздравляем! Вы стали членом нашего сообщества!

%p На Вашу почту придет письмо с инструкциями. Активируйте свой аккаунт в течение 3 дней. После 3 дней Вы сможете заново запросить инструкции по подтверждению.
%p Заполните, пожалуйста, свой профиль.
= link_to "Загрузите аватар", load_avatar_path