# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
development:
  adapter: postgresql
  encoding: unicode
  database: gdev
  host: localhost
  pool: 5
  username: postgres
  password: postgres
  min_messages: warning
test: &test
  adapter: postgresql
  encoding: unicode
  database: gtest
  host: localhost
  pool: 5
  username: postgres
  password: postgres
  min_messages: warning


production:
  adapter: postgresql
  encoding: unicode
  database: glash_production
  pool: 5
  username: postgres
  password: postgres
  min_messages: warning

cucumber:
  <<: *test