section.parallax.top{
  background-image: image-url('parallax/partop.jpg');
  margin-top: 0px;
}

section.parallax.middle{
  background-image: image-url('parallax/parmiddle.jpg');
}

#user_birthday_1i{
  width: 30%;
  display: inline-block;
  text-align: center
  }

#user_birthday_2i{
  width: 43.5%;
  display: inline-block;
  text-align: center
 }


#user_birthday_3i{
  width: 25%;
  display: inline-block;
  text-align: center
  }

.help-inline {
  display: block;
  
}

.help-inline.error-message {
  color: red;
}
.avatar {
  border-bottom: none; 
}

// #footer {
//   margin-top: 40px;
// }

.body {
  background-color: #EDEFF2;
}

.avatarimg {
  margin-bottom: 30px;
}

h1.greeting {
  padding-top: 100px;
}

.formtastic .boolean > p.inline-errors {
  font-size: 0.8em;
  margin-top: -2px;
}

.img-thumbnail {
  background-color: #EDEFF2;
}

.loadbtn {
  font-size: 1.4em;
}

legend {
  border-bottom: none;
}
.formtastic legend {
  white-space: pre;
}

.formtastic .fragments .label,
.formtastic .choices  .label {
  width:24%;
  left:-126px;
  text-align: right;
}
.formtastic .choices  .label {
  left:-28px;
}
.formtastic .choices input {
  height: 20px;
  width: 20px;
}
.formtastic .boolean input {
  height: 16px;
  width: 16px;
}
.formtastic .fragments-group {
  width:100%;
}

.formtastic select,
.formtastic textarea {
  font-size: 1.4em;

}
#user_country_id {
    width: 72%;
  }

.radio .choice {
    display: inline-block;
    padding-top: 0.6em;
    padding-right: 1em;
    font-size: 1.4em;
}

.derrors {
  margin: 0 15px 30px;

  #error_explanation{
    color: red;
    h2{
      font-size: 1.4em;
      font-weight: 500;
      color: red;
      margin: 10px 0;
    }
    ul{
      font-size: 1.1em;
    }
  }
}

.alert_waiting {
  font-size: 1.2em;
  span {
    font-size: 1.4em;
    font-weight: 800;
  }
}

.greetings, 
.pages {
  color: #87919F;
  font-size: 1.2em;
}

h2.show_user {
  margin: 0 0 15px;
}


