// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row .ideas {
  margin-top: 20px;
}

h2.idea_title {
  margin-bottom: 0px;
  font-size: 1.6em;
  color: #72099d;
  line-height: 25px;
}

.thumb-info-caption p {
  line-height: 20px;
}


.imagesteps {
  width: 600px;
  height: 100px;
  background-image: image-url('steps.png');
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.submit_info {
  background-position: 0px 0px;
}

.submit_idea {
  background-position: 0px -100px;
}

.submit_images {
  background-position: 0px -200px;
}

span[id^=notice_idea_],
[id^=notice_idea_] form {
  filter: alpha(opacity=0);
  opacity: 0.0;

}

.thumb-info:hover span[id^=notice_idea_],
.thumb-info:hover [id^=notice_idea_] form
  {
    filter: alpha(opacity=100);
    opacity: 1.0;
    transition: all 0.2s;
}

.thumb-info span.thumb-info-act {
  top: 43%;
}

.btn-vote {
  border-color: #1d0048;
  background-color: #72099d;
  color: #fff;
    &:hover,
    &:focus{
      color: #fff;
    }
    &:focus{
      color: #fff;
      border-color: #560776;
      background-color: #560776;
    }
}

.thumb-info:hover span[id^=notice_idea_] {
    font-size: 1.1em;
}

.thumb-info .thumb-info-extra.social.vote span {
  border-right: 1px solid #EBEBF4;
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 0.9em;
  color: #ACACAC;
  width: auto;
  text-align: center;
  &:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
    }
}




#dropzone {
  border-bottom: 3px solid #AA6ABA;
  width: 70%;
  background-color: #E7CCED;
  text-align: center;
  margin: 30px auto 20px;
  padding: 25px 20px 45px;

  h4 {
    margin: 0;
  }
   
}
#dropzone.in{
  background-color: #AA6ABA;
    &:hover{

      background-color: #AA6ABA;
    }
  }

#dropzone.fade {
    -webkit-transition: all 0.9s ease-out;
    -moz-transition: all 0.9s ease-out;
    -ms-transition: all 0.9s ease-out;
    -o-transition: all 0.9s ease-out;
    transition: all 0.9s ease-out;
    opacity: 1;
}
 

span .add_files {
  margin: auto;
}


.ideashow {
  text-align: center;
}

h1.ideashow {
  color: #72099d;
  margin: 30px 0 25px;
}

blockquote {
  margin: 40px;
  border-color: #72099d;
  font-style: italic;
}
h3.ideainfo {
  margin: 30px 0 15px;
}

.ideasidebar {
  margin: 20px 15px 20px 0;
  button {
    width: 50%;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  img{
    margin-bottom: 20px;
    width: 80%;
  }
  p{
    margin-bottom: 5px;
  }
}