// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
  margin-bottom: 25px;
  h4{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.2em;
  }
}

p.users {
  margin-bottom: 0px;
  font-size: 12px;
}

nav.pagination {
  display: block;
  border-bottom: none;
  margin-left: auto;
  margin-right: auto;
}

img.uslod {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p.lastreg {
  margin-bottom: 29px;
}
p.signinhelp {
  margin-bottom: 10px;
}
p.signinlast {
  margin-bottom: 35px;
}