<p>Приветствуем Вас, <%= @user.fullname %>, на сайте glash.ru!</p>
<br/>

<p>Ваша учетная запись создана, но вам все еще нужно активировать ее для входа на сайт.</p>
<br/>

<p>Ваше имя пользователя: <%= @user.name%></p>
<p>Для подтверждения регистрации перейдите по ссылке:</p>
<p><%= link_to 'Подтвердить регистрацию', confirmation_url(@resource, confirmation_token: @token) %></p>
<br/>
<p>Не можете нажать на ссылку? Просто скопируйте и вставьте ее в адресную строку браузера.</p>
<br/>
<p>Надеемся увидеть Вас в ближайшее время на сайте glash.ru! </p>
<p>Искренне Ваши,
Команда glash.ru.</p>