<p>Приветствуем Вас, <%= @resource.fullname %>!</p>

<p>Кто-то (возможно Вы сами) оставил запрос на смену пароля на сайте glash.ru. Вы сможете это сделать, перейдя по ссылке ниже.</p>

<p><%= link_to 'Сменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если запрос на смену пароля сделали не Вы, просто проигнорируйте этот email.</p>
<p>Ваш пароль не изменится, пока Вы не перейдете по ссылке и создадите новый пароль.</p>
