<p>Приветствуем Вас, <%= @resource.fullname %>!</p>

<p>Ваш аккаунт был заблокирован из-за многочисленных неуспешных попыток входа.</p>

<p>Перейдите по ссылке ниже, чтобы разблокировать доступ на сайт:</p>

<p><%= link_to 'Разблокировать доступ', unlock_url(@resource, unlock_token: @token) %></p>
